body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #ebe3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nueva-tarea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

input {
    border-radius: 4px;
    padding: 4px;
    width: 240px;
    border: 1px solid gray;
}

#btn-agregarTarea {
    border-radius: 4px;
    background-color: rgb(64, 137, 231);
    padding: 8px;
    width: 120px;
    border: none;
    color: #fff;
    font-size: 14px;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="checkbox"] {
    margin: 0; /* 👈 sacá el margin negativo */
}

ul li button {
    background-color: transparent;
    border: none;
    padding: 4px;
}
hr {
    border: 1px solid grey;
    width: 100%;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
p {
    font-size: 14px;
    color: rgb(190, 36, 36);
}
#btn-limpiar {
    width: 180px;
    background-color: transparent;
    border: 1px solid rgb(190, 36, 36);
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
}
#btn-limpiar:hover {
    background-color: rgb(190, 36, 36);
    border: none;
    color: #fff;
}